@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #24292e;
  font-size: 0.9rem;
  /* font-family: "FontAwesome"; */
}

a {
  text-decoration: none;
}

p {
  font-size: 0.8rem;
}

img {
  max-width: 100%;
}
li {
  list-style: none;
}
.wrapper{
  max-width: 1280px;
  margin: 0 auto 20px auto;
  text-align: center;
  padding: 50px 4% 0 4%;
}
.sec-title {
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 20px;
  border-bottom: solid 3px #24292e;
}
.sec-title2 {
  text-align: center;
  border: none;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/*-------------------------------------------
Header
-------------------------------------------*/
.header {
  width: 100%;
  height: auto;
  background-color: rgba(255,255,255, 0.4);
  /* headerを画面上部に固定する */
  position: fixed;
  top: 0;
  left: 0;
  /* スクロールしても他のコンテンツの下にならないようにする */
  z-index: 9999;
  transform: translateY(-130px);
  transition: opacity 1s ease-out, transform 0.8s ease-out;
  opacity: 0;
  /* font-family: "FontAwesome"; */
}
.visible {
  transform: translateY(0); 
  opacity: 1;
}
.header-content {
  /* width: 1280px; */
  margin: 0 auto;
  text-align: center;
  padding: 5px 5px;
  /* transition: transform 0.3s 0.3s; */
}
.hidden {
  transform: translateY(-107px);
  /* background-color: rgba(255,255,255, 0.7); */
}
.hidden2 {
  transform: translateY(0);
}
.header-content a {
  display: inline-block;
}
.logo {
  width :300px;
  transition: opacity 0.5s ease; /* 透明度の変化をアニメーション化 */
}
.logo:hover {
  opacity: 0.7;
}
.header-content ul {
  display: flex;
}
.header-content li {
  width: 30px;
  height: 30px;
  margin-right: 30px;
}
.icon {
  position: absolute;
  top: 120px;
  left: 85%;
}
.menu {
  width: 650px;
  margin: 0 auto 20px auto;
  text-align: center;
  /* border: solid 1px #c8c8c8; */
  font-weight: bold;
  /* padding-bottom: 10px; */
}
.menu ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.menu a {
  color: black;
  font-size: 1rem;
}
.menu a:hover {
  opacity: 0.7;
}
.x {
  padding-top: 1px;
}
.youtube{
  padding-top: 5px;
}
/*-------------------------------------------
main
-------------------------------------------*/
main {
  opacity: 0;
  /* transform: translateY(0px); */
  transition: opacity 1s ease-out, transform 0.8s ease-out;
}

.main-content {
  width: 100%;
  height: auto;
  /* border: solid 1px #c8c8c8; */
  /* opacity: 0.7; */
  background-color: rgba(255,255,255, 0.5);
  /* background-color: white; */
  position: absolute;
  z-index: 10;
  top: 700px;
  left: 0px;
}


/*-------------------------------------------
mainvisual
-------------------------------------------*/
.mainvisual {
  position: fixed;
  top: 0px; /* divの上端がビューポートからの距離 */
  left: 0px; /* divの左端がビューポートからの距離 */
  width: 100%;
  height: 500px;
  /* background-color: black; */
  /* position: absolute; */
  /* border: solid 1px #c8c8c8; */

}
.mainvisual img {
  width: 100%;
  max-width: 1920px;
  object-fit: cover;
  height: auto;
}

/*-------------------------------------------
headline
-------------------------------------------*/
.headline-content {
  width: 100%;
  padding: 0 1%;
}
.headline-content ul {
  display: flex;
  gap: 30px;
}
.movie {
  width: 50%;
  text-align: left;
}
.headline-content iframe {
  width:  100%;
  height: 300px;
}

/*-------------------------------------------
news&live
-------------------------------------------*/
#news-live {
  display: flex;
  gap: 30px;
  text-align: left;
}
.news {
  width: 50%;
  padding-bottom: 30px;
  /* transition: opacity 1s ease-out; */
}
.live {
  width: 50%;
  padding-bottom: 30px;
  /* opacity: 0; */
  /* transition: opacity 1s ease-out; */
}
.content a {
  width: 100%;
  display: inline-block;
  /* border: dotted 1px #24292e; */
  display: flex;
  color: #24292e;
}
.content a:hover {
  color: black;
  opacity: 0.5;
}
.content {
  /* opacity: 0; */
  transition: opacity 1s ease-out;
}
.content dl {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
  border-bottom: solid 3px #24292e;
  /* gap: 10px; */
}
.content dt {
  width: 25%;
  /* margin-right: 10px; */
  /* border: dotted 1px #24292e; */
  /* box-sizing: border-box; */
}
.content dd {
  width: 75%;
  /* border: dotted 1px #24292e; */
  /* box-sizing: border-box; */
}
.content dt,dd {
  border-bottom: dotted 1px #24292e;
  padding: 10px 0px;
  /* border: dotted 1px #24292e; */
}

/*-------------------------------------------
photo
-------------------------------------------*/
#photo {
  margin-bottom: 100px;
}
.photo-content {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 1%;
}

/*
スライダー矢印（共通）
*/
#slider .prev,
#slider .next {
  width: 40px;
  height: 40px;
  background-color: #fff;
  cursor: pointer;
  opacity: 0.7;
  position: absolute;
  top: 45%;
  transition: 0.5s;
  z-index: 10;
}
#slider .prev:hover,
#slider .next:hover {
  opacity: 0.5;
}
#slider .prev::before,
#slider .prev::after,
#slider .next::before,
#slider .next::after {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #000;
  position: absolute;
}

/*
スライダー左矢印
*/
#slider .prev {
  left: 0;
}
#slider .prev::before,
#slider .prev::after {
  left: 12px;
}
#slider .prev:before {
  top: 37%;
  transform: rotate(-45deg);
}
#slider .prev:after {
  bottom: 37%;
  transform: rotate(45deg);
}

/*
スライダー右矢印
*/
#slider .next {
  right: 0;
}
#slider .next::before,
#slider .next::after {
  right: 12px;
}
#slider .next:before {
  top: 37%;
  transform: rotate(45deg);
}
#slider .next:after {
  bottom: 37%;
  transform: rotate(-45deg);
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 900px) {
  #slider .prev,
  #slider .next {
    top: 40%;
  }

  html {
    font-size: 95%;
  }

  .logo {
  width :200px;
  transition: opacity 0.5s ease; /* 透明度の変化をアニメーション化 */
  }

  .menu {
    display: none;
  }

  .icon {
    position: absolute;
    top: 40px;
    left: 75%;
  }

  .mainvisual img {
  width: 100%;
  max-width: 1920px;
  object-fit: cover;
  height: auto;
  }

  .header-content {
    /* width: 1280px; */
    text-align: left;
    /*     padding: 1px 1px; */
    /* transition: transform 0.3s 0.3s; */
  }

  .headline-content ul {
    display: flex;
    flex-wrap: wrap; /* アイテムを折り返すように設定 */
    gap: 30px;
  }

  .movie {
    width: 100%;
    /* padding-bottom: 30px; */
  }

  #news-live {
    display: flex;
    flex-wrap: wrap; /* アイテムを折り返すように設定 */
    gap: 30px;
    text-align: left;
  }

  .news {
    width: 100%;
    padding-bottom: 30px;
  }

  .live {
    width: 100%;
    padding-bottom: 30px;
  }

  .main-content {
    top: 250px;
    left: 0px;
  }
}

/*-------------------------------------------
Profile
-------------------------------------------*/
#profile {
  text-align: left;
}
/* #profile img {
  object-fit: cover;
  height: auto;
} */
.biography {
  transition: opacity 1.0s ease;
  /* position: fixed; */
}

/*-------------------------------------------
各種ページ
-------------------------------------------*/
.page-content,
.list-content {
  width: 60%;
  margin: 0 auto;
  height: 900px;
  /* border: solid 1px black; */
}
.list-content .details {
  display: block;
  text-align: left;
  /* border: solid 1px black; */
}
.item-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* text-align: center; */
  display: inline-block;
  /* justify-content: center; */
  /* border-top: solid 1px black; */
  border-top: solid 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.item-header:hover {
  color: black;
  opacity: 0.5;
}
.page-content .details {
  display: none; /* 最初は非表示にする */
  /* border: solid 1px black; */
  text-align: left;
  padding: 0 10px;
}
.page-content dl {
  display: flex;
  /* border: solid 1px black; */
  text-align: left;
  align-items: center;
}
.page-content dt {
  width: 25%;
  /* border: solid 1px black; */
}
.page-content dd {
  width: 75%;
  /* border: solid 1px black; */
  border: none;
}
.page-content p,
.list-content p {
  margin-bottom: 10px;
}
.accordion {
  width: 300px;
  margin: 20px;
}
.details iframe {
  /* border: solid 1px black; */
  width:  100%;
  height: 380px;
  margin-bottom: 10px;
}
/*-------------------------------------------
news
-------------------------------------------*/
#news .details {
  text-align: center;
  padding: 10px 10px;
}
/*-------------------------------------------
footer
-------------------------------------------*/
.footer {
  width: 100%;
  height: 240px;
  background-color: #333;
  border: solid 1px black;
  z-index: 11;
  /* position: fixed;
  bottom: 0; */
}
.footer img {
  width: 250px;
  height: auto;
  margin-bottom: 10px;
}
.footer .menu a {
  color: white;
  font-weight: normal;
  display: inline-block;
}
.footer-logo {
  transition: opacity 0.5s ease; /* 透明度の変化をアニメーション化 */
}
.footer-logo:hover {
  opacity: 0.5;
}
/* .header .hidden {
  top: -100px; /* 適切な値に調整してください */
